.env
REACT_NATIVE_APP_SeaWeatherAPI = `https://api.stormglass.io/v2/weather/point?lat=${lat}&lng=${lng}&params=${params}`
REACT_NATIVE_APP_APIKey = '703528bc-ead9-11eb-80d0-0242ac130002-7035292a-ead9-11eb-80d0-0242ac130002'
node_modules
